body {
  margin: 0;
  font-family: Verdana;
}

.navbar {
  height: 80px;
  width:100vw;
  background-color: black;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-top: -10px;

}

.navbar-brand-text {
  font-family: Verdana;
  font-size:35px;
  color: white;
  margin-top: 10px;

}

.container {
	background-color: white;
	border: 1px solid black;
	padding: 20px;
	margin: 180px auto;
  
	max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-wrapper input {
  width: 16rem;
  height:2rem;
  border: 1px solid black;
}

.criteria-checklist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.criteria-checklist li:before {
  content: "\1F436";
  /* color: #DF2E38; */
  font-family: Arial, sans-serif; 
}

.criteria-checklist .valid:before {
  content: "\2713"; 
  color: #5D9C59;

}


.submit-container {
  justify-content: flex-end;
  margin-top: 40px;

}

.submit-btn {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  width: 17rem;
}



