body {
  margin: 0;
  font-family: Verdana;
}
.navbar {
  height: 80px;
  width:100vw;
  background-color: black;
}

.navbar-brand {
  display: flex;
  justify-content: center;
}

.navbar-brand-text {
  font-family: Verdana;
  font-size:35px;
  color: white;
  margin-top: 15px;
}

.container {
	background-color: white;
	border: 1px solid black;
	padding: 20px;
	margin: 50px auto;
	max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-wrapper input {
  width: 17rem;
  height:2rem;
  border: 1px solid black;
  
}

.left{
  width:50%; 
  float:left; 
  margin-right: 10px;
}

.right{
  width:600px;
}

.criteria-checklist {
  margin-top: 5px;
  float:right;
  margin-right: 120px;
  margin-bottom:20px;
}

.criteria-checklist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.criteria-checklist li:before {
  content: "x";
  color: #DF2E38;
  font-family: Arial, sans-serif; 
}

.criteria-checklist .valid:before {
  content: "\2713"; 
  color: #5D9C59;

}


.submit-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  margin-right:25px;
}

.submit-btn {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 17.5rem;
  cursor: pointer;
}



